<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="frontend">
                <field id="default_sort_direction" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Product Listing Sort Direction</label>
                    <source_model>SpringImport\CatalogSortOrderDirection\Model\Config\Source\ListSortDirection</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
